<!-- about -->
	<div class="about">
		<div class="container">

			<h2 class="w3l-titles">Welcome</h2>
			<div class="w3l-about-grids">
				<div class="col-md-6 w3ls-about-left">
					<div class="agileits-icon-grid">
						<div class="icon-left hvr-radial-out">
							<i class="fa fa-smile-o" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>99.9% SATISFIED CUSTOMERS</h5>
							<p>We never let our honored customers down. We make it our work to ensure the delivery of your package with
                24/7 customer care service </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits-icon-grid">
						<div class="icon-left hvr-radial-out">
							<i class="fa fa-usd" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>QUALITY SERVICE AFFORDABLE PRICE</h5>
							<p> We provide .</p>
              <ul>
                <li><p>Emergency/Expedited Shipping</p></li>
                <li><p>Air Ride Blanket Wrap Trucking</p></li>
                <li><p>International shipping services </p></li>
                <li><p>LTL/Ground Freight</p></li>
                <li><p>Packaging and Crating</p></li>

						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits-icon-grid">
						<div class="icon-left hvr-radial-out">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>WORLDWIDE LOCATIONS</h5>
							<p>As an IATA (International Air Transport Association) endorsed agent, we have the experience to walk you through the intricacies of rates, tariffs, duties, taxes and other important international commerce concerns. We make it easy to ship so you can spend your time on your business..</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 w3ls-about-right">
					<div class="w3ls-about-right-img">

					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- counter -->
	<div class="services-bottom stats services">
	<div class="banner-dott1">
		<div class="container">

		  <div class="wthree-agile-counter">
		  <div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">324</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Transport</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">543</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Happy Clients</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">434</p>
				</div>
				<div class="clearfix"> </div>
				<h4>People Loved</h4>
			</div>
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
			<div class="w3_agile_stats_grid">
				<div class="agile_count_grid_left">
					<span class="fa fa-trophy" aria-hidden="true"></span>
				</div>
				<div class="agile_count_grid_right">
					<p class="counter">234</p>
				</div>
				<div class="clearfix"> </div>
				<h4>Win Awards</h4>
			</div>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
</div>
<!-- //counter -->
<!-- advantages -->
<div class="two-grids">
  <div class="container">
    <h3 class="w3l-titles">Special Services</h3>
    <p class="w3layouts_dummy_para"> Here are some special offers</p>
    <div class="col-md-6 w3_two_grid_right">
      <div class="w3_two_grid_right1">
        <div class="col-xs-3 w3_two_grid_right_grid">
          <div class="w3_two_grid_right_grid1">
            <i class="fa fa-hourglass-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-9 w3_two_grid_right_gridr">
          <h4>Emergency/Expedited Shipping</h4>
          <p>When you find yourself in a situation that requires emergency or expedited shipping, there's very little time to plan. We are ther for you When we hear the word "emergency," we understand that there's no room for error..</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="w3_two_grid_right1">
        <div class="col-xs-3 w3_two_grid_right_grid">
          <div class="w3_two_grid_right_grid1">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-9 w3_two_grid_right_gridr">
          <h4>Air Ride Blanket Wrap Trucking</h4>
          <p>When your shipping project requires the smoothest ride and most careful handling possible, our White Glove Logistics Division will provide you with fast and affordable blanket wrap shipping.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="w3_two_grid_right1">
        <div class="col-xs-3 w3_two_grid_right_grid">
          <div class="w3_two_grid_right_grid1">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-9 w3_two_grid_right_gridr">
          <h4>International shipping services </h4>
          <p>international shipping services will help you take the "work" out of paperwork. As an IATA (International Air Transport Association) endorsed agent, we have the experience to walk you through the intricacies of rates, tariffs, duties, taxes and other important international commerce concerns. We make it easy to ship so you can spend your time on your business.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-6 w3_two_grid_right">
      <div class="w3_two_grid_right1">
        <div class="col-xs-3 w3_two_grid_right_grid">
          <div class="w3_two_grid_right_grid1">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-9 w3_two_grid_right_gridr">
          <h4>LTL/Ground Freight</h4>
          <p>you get more than 30 years of freight shipping expertise. We use data from thousands of shipments each year to take the guesswork out of the carrier selection process. Lane by lane and city by city, we use real-time shipment data to select the best rate and safest carrier for your shipment. </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="w3_two_grid_right1">
        <div class="col-xs-3 w3_two_grid_right_grid">
          <div class="w3_two_grid_right_grid1">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-9 w3_two_grid_right_gridr">
          <h4>Packaging and Crating</h4>
          <p>one-stop source for expert packaging, crating and shipment preparation. With overseas partners and more than 250 service provider locations throughout the U.S., every zip code is covered. </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="w3_two_grid_right1">
        <div class="col-xs-3 w3_two_grid_right_grid">
          <div class="w3_two_grid_right_grid1">
            <i class="fa fa-square-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-9 w3_two_grid_right_gridr">
          <h4>White Glove Services</h4>
          <p>White glove service is at the very core of what we do. It ensures that your specific and detailed delivery requirements are met in a timely manner.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //advantages -->

<!-- Clients -->
<div class="clients">
<div class="banner-dott1">
<h3 class="w3l-titles">Testimonials</h3>
  <div class="container">
    <h4>What Our Customers Say</h4>
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <%= image_tag "c1.jpg" %>
              <p>Smoothe delivery at expected timeline. Thanks Metro .</p>
              <div class="client">
                <h5>Gerald Roy</h5>
              </div>
          </li>
          <li>
            <%= image_tag "c2.jpg" %>
              <p>Wonderful packaging, no broken items. Best service ever</p>
              <div class="client">
                <h5>Adam Brandom</h5>
              </div>
          </li>
          <li>
            <%= image_tag "c3.jpg" %>
              <p>My best delivery service so far. Even picked up my good from my doorstep .</p>
              <div class="client">
                <h5>Steve Artur</h5>
              </div>
          </li>
          <li>
            <%= image_tag "c4.jpg" %>
              <p>Is there any way i can tip you guys. Great service .</p>
              <div class="client">
                <h5>Martin Victor</h5>
              </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
</div>
<!-- //Clients -->
