<div class="banner">
	<div class="banner-dott">
    <!-- w3-banner -->
      <div class="w3-banner">
        <div id="typer"></div>
          <p>Send your package today. fast and secure shipping and delivery services. With<strong>20% Discount </strong></p>
        
      </div>

    <!-- //w3-banner -->
  </div>
  </div>
