<div class="row">
  <!-- Column -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">New Order</h4>

<%= render 'form', order: @order %>

</div>
</div>
</div>
</div>
