<div class="row">
  <!-- Column -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Order Payment</h4>
<%= render 'form', payment: @payment %>

</div>
</div>
</div>
</div>
